.row {
  max-width: $grid-width;
  margin: 0 auto;
  padding: 2rem;
  &.secret-row {
    padding: 0;
  }
  @include rwd(phone) {
    max-width: 50rem;
  }
  @include rwd(tab-port) {
    padding: 0 1rem;
  }

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include rwd(tab-port) {
      margin-bottom: $gutter-vertical-s;
    }
  }

  @include clearfix;

  // 只要有col-開頭均採用以下樣式，故rwd也可以直接寫在底下
  [class^="col-"] {
    float: left;
    @include rwd(tab-port) {
      width: 100% !important;
    }

    &:not(:last-child) {
      margin-right: 4rem;
      @include rwd(tab-port) {
        margin-right: 0;
      }
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }
  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  }
  .col-2-of-3 {
    width: calc((100% - #{$gutter-horizontal}) / 3 * 2);
  }
  .col-1-of-4 {
    width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
  }
  .col-2-of-4 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }
  .col-3-of-4 {
    width: calc((100% - #{$gutter-horizontal}) / 4 * 3);
  }
}

.section-coding_p {
  & .col-1-of-3 {
    margin: 0;
    width: calc(100% / 3);
    margin: 2rem 0;

    &:not(:last-child) {
      margin-right: 0;
    }
  }
}
