<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content="https://wentungwen.github.io/wen_portfolio_2020/img/about-pic.jpg" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <!-- <link rel="stylesheet" href="css/icon-font.css" /> -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="sass/main.css" />
    <link rel="shortcut icon" type="image/png" href="img/logo/favicon.png" />
    <script
      src="https://kit.fontawesome.com/4d9a4d7f8c.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>



    <title>WenTung | Creative Resume</title>
  </head>

  <body class="dark">
    <header class="header" id="header">
      <template>
      <div class="header__text-box">
        <h1 class="heading-primary">
          <span class="heading-primary--main">{{name}}</span>
          <span class="heading-primary--sub">{{sub}} </span>
        </h1>
      </div>
    </template>
    </header>
    <nav class="nav-pc" id="nav-pc">
      <div class="container">
        <a href="#">
          <img src="img/logo/logo-white.png" alt="Logo" class="logo" />
        </a>
        <ul>
          <li><a href="#about" class="active">ABOUT</a></li>
          <li><a href="#experience">EXPERIENCE</a></li>
          <li><a href="#ability">ABILITY</a></li>
          <!-- <li><a href="#coding">PROJECT</a></li> -->
        </ul>
      </div>
    </nav>
    <nav class="nav-mobile" id="nav-mobile">
      <div class="nav-mobile__container">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </nav>

    <div class="menu-model">
      <a href="#about">ABOUT</a>
      <a href="#experience">EXPERIENCE</a>
      <a href="#ability">ABILITY</a>
      <!-- <a href="#coding">PROJECT</a> -->
    </div>
    <main id="main">
      <section class="section-about" id="about">
        <!-- <intro>aa</intro> -->
        <div class="u-center-text u-margin-bottom-big title-box">
          <h2 class="heading-secondary" id="head1">{{head[0]}}</h2>
          <i class="icon-basic-diamonds secondary-icon"></i>
          <p>{{descript[0]}}</p>
        </div>

        <div class="row">
          <div class="col-1-of-3">
            <div class="card">
              <div class="card__side card__side--front">
                <div class="card__picture card__picture-1">&nbsp;</div>
                <h4 class="card__heading">
                  <span class="card__heading-span card__heading-span--1"
                    >wentung</span
                  >
                </h4>
                <div class="card__details">
                  <ul>
                    <li>溫文彤｜22y</li>
                    <li>Tapei, Taiwan</li>
                    <!-- <li>2 tours guides</li> -->
                  </ul>
                </div>
              </div>
              <div class="card__side card__side--back card__side--back-1">
                <div class="card__cta">
                  <div class="card__price-box">
                    <div class="card__price">明天 對於世界而言<br>永遠是一個奇蹟</div>
                    <div class="card__price-en">Tomorrow will always be a miracle for the world.</div>
                    
                    <!-- <div class="card__price-value">$120</div> -->
                    <!-- <a href="#" class="btn btn--white">Contact me</a> -->
                  </div>
                </div>
              </div>
            </div>
            <a
              href="https://wentungwen.github.io/wen_portfolio_2020/case-study"
              class="btn btn-text btn-about"
              >看案例 case study&nbsp; <i class="fas fa-arrow-right"></i
            ></a>
          </div>
          <div class="col-2-of-3 u-margin-bottom-big">
            <div class="row">
              <h2 class="u-margin-bottom-small block-text">
                擁有策略背景的UI/UX設計師
              </h2>
              <p class="paragraph">
                你好，我是溫文彤，政大廣告系畢，我認為一個好的UI/UX設計師必須擁有極強洞察力、優異的設計品味與基礎前端能力，而這些能力簡單對應如下：
              </p>
              <p class="paragraph">
                <strong> ｜策略方面｜</strong> <br />
                在學時寫過多項IMC整合行銷策略，如Vast&Hazy、統一豆漿、Canon，為產品進行前端市場與競品調研。大四在麥肯廣告集團策略部實習。主要工作為奢侈品與快消品的質化量化調研，如一匙靈、亞培、奧迪、皇家禮炮和格蘭利威等多種酒類。<br />
              </p>
              <p class="paragraph">
                <strong>｜設計方面｜</strong> <br />
                熟悉XD、PS、ID等繪圖軟體，在第一份工作時獨立使用wordpress設計並製作8個旅宿網站，並大量製作票購網的商品圖，同時修畢Udemy的UX/UI相關課程，並製作出一個電商prototype。曾擔任政大大學雜誌編輯，並多次接校外壁畫、地板畫案子。
              </p>
              <p class="paragraph">
                <strong>｜程式方面｜</strong> <br />
                我可以熟練的使用sass進行網頁與RWD切版、處理動畫、串接API、使用Git進行版本控制，熟悉BEM設計原則。此個人網站是用sass進行切版，搭配vue.js實作部分資料分離和swiper.js製作幻燈片。
              </p>
              <p>
                <strong
                  >｜語言方面｜<br />
                  IELTS 7.0：</strong
                >
                聽說讀寫皆無障礙
              </p>
            </div>
            <div class="row">
              <h2 class="u-margin-bottom-small block-text">
                好奇的跨域學習者
              </h2>
              <p class="paragraph">
                我是在臺南鄉下長大的孩子，爬樹、撿鴨糞、抓青蛙灌蟋蟀、堆土窯烤蝸牛是我的日常，這些回憶讓我長大後保有赤子之心，且事事充滿好奇。<br /><br />
                我很喜歡解決問題與實作。小學時，我在書上讀到精油蒸餾法，於是和弟弟去偷剪鄰居的迷迭香，搗碎後在田裡堆土窯「蒸餾」，做了一罐黏稠的「香水」送給媽媽。
              </p>
              <p>
                長大後，這份好奇心轉往探索各領域的知識。我幾乎修遍了政大所有科系的代表課，百般探索之後，我特別喜歡消費者心理學、設計與資料視覺化等領域，也有幸在快畢業時上了一堂「設計思考」，接觸了使用者體驗、儀式設計和服務設計。
              </p>
              <br />

              <p>
                在閱讀過《設計思考改變世界》和《設計思考全攻略》等書籍後，畢業後我決定婉拒了奧美與多家代理商面試邀請，先去網頁接案公司補好程式和設計基礎，再進入與此相關的UI/UX領域。
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- experience -->
      <section class="section-edu" id="experience">
        <div class="u-center-text u-margin-bottom-big title-box">
          <h2 class="heading-secondary">{{head[1]}}</h2>
          <i class="icon-basic-diamonds secondary-icon"></i>
          <p>{{descript[1]}}</p>
        </div>
        <div class="row" v-for="(n, idx) in schoolList">
          <div class="col-1-of-3">
            <h3>{{n.title}}</h3>
            <small>{{n.date}}</small>
          </div>
          <div class="col-2-of-3">
            <p>{{n.descript}}</p>
            <a :href="n.locationSrc"> <i class="fas fa-map-marker"> {{n.locationName}}</i></a>
          </div>
        </div>
      </section>

      <div class="divider"></div>

      <section class="section-exp">
        <div class="row" v-for="(n, idx) in expList">
          <div class="col-1-of-3">
            <h3>{{n.title}}</h3>
            <small>{{n.date}}</small>
          </div>
          <div class="col-2-of-3">
            <p>{{n.descript}}</p>
            <a :href="n.locationSrc"> <i class="fas fa-map-marker"> {{n.locationName}}</i></a>
          </div>
        </div>
      </section>

      <!-- ability -->
      <section id="ability" class="row section-features">
        <div
          class="u-center-text u-margin-top-med u-margin-bottom-med title-box"
        >
          <h2 class="heading-secondary">{{head[2]}}</h2>
          <i class="icon-basic-diamonds secondary-icon"></i>
          <p>{{descript[2]}}</p>
        </div>
      </section>

      <!-- commercial -->
      <section class="section-uxui_p" id="coding">
      
        <div class="row">
          <div class="col-1-of-3">
            <div class="abi-title__num">{{ability[0].num}}</div>
            <h3 class="abi-title">{{ability[0].title}}<br><small>{{ability[0].sub}}</small></h3>
            
          </div>
          <div class="col-2-of-3">
            <div class="icon-container icon-container__instruction">
              <li>
                <i class="fas fa-street-view"></i>
                <div>Discover 發現</div>
              </li>
              <li>
                <i class="fas fa-question-circle"></i>
                <div>Define 定義</div>
              </li>
              <li>
                <i class="fas fa-lightbulb"></i>
                <div>Solution 解法</div>
              </li>
              <li>
                <i class="fas fa-flag"></i>
                <div>Result 結果</div>
              </li>
            </div>
          </div>
        </div>
        <!-- case 1 maynooth  -->
        <div class="row">
          <div class="col-1-of-4">
            <img
              :src="ability[0].case[3].img"
              :alt="ability[0].case[3].title"
              class="case-img"
            />
          </div>
          <div class="col-3-of-4">
            <p>
              <h3>{{ability[0].case[3].title}}</h3>
              <br />{{ability[0].case[3].descript}}
            </p>
            <img src="./img/case/case4/015.jpg" alt="" class="abi-case-img" />
          </div>
        </div>

        <!-- case 2 design-thinking -->
        <div class="row">
          <div class="col-1-of-4">
            <img
              :src="ability[0].case[1].img"
              :alt="ability[0].case[1].title"
              class="case-img"
            />
          </div>
          <div class="col-3-of-4">
            <p>
              <h3>{{ability[0].case[1].title}}</h3>
              <br />{{ability[0].case[1].descript}}
            </p>
            <div class="icon-container">
              <li>
                <i class="fas fa-street-view"></i>
                <div>{{ability[0].case[1].details[0]}}</div>
              </li>
              <li>
                <i class="fas fa-question-circle"></i>
                <div>{{ability[0].case[1].details[1]}}</div>
              </li>
              <li>
                <i class="fas fa-lightbulb"></i>
                <div>{{ability[0].case[1].details[2]}}</div>
              </li>
              <li>
                <i class="fas fa-flag"></i>
                <div>{{ability[0].case[1].details[3]}}</div>
              </li>
            </div>
            <img src="./img/case/case2/01.jpg" alt="" class="abi-case-img" />
          </div>
        </div>
        <!-- case 3 side project  -->
        <div class="row">
          <div class="col-1-of-4">
            <img
              :src="ability[0].case[2].img"
              :alt="ability[0].case[2].title"
              class="case-img"
            />
          </div>
          <div class="col-3-of-4">
            <p>
              <h3>{{ability[0].case[2].title}}</h3>
              <br />{{ability[0].case[2].descript}}
            </p>
            <div class="icon-container">
              <li>
                <i class="fas fa-street-view"></i>
                <div>{{ability[0].case[2].details[0]}}</div>
              </li>
              <li>
                <i class="fas fa-question-circle"></i>
                <div>{{ability[0].case[2].details[1]}}</div>
              </li>
              <li>
                <i class="fas fa-lightbulb"></i>
                <div>{{ability[0].case[2].details[2]}}</div>
              </li>
              <li>
                <i class="fas fa-flag"></i>
                <div>{{ability[0].case[2].details[3]}}</div>
              </li>
            </div>
            <img src="./img/case/case3/03.jpg" alt="" class="abi-case-img" />
          </div>
        </div>
        <!-- case 1 corner -->
        <div class="row">
          <div class="col-1-of-4">
            <img
              :src="ability[0].case[0].img"
              :alt="ability[0].case[0].title"
              class="case-img"
            />
          </div>
          <div class="col-3-of-4">
            <p>
              <h3>{{ability[0].case[0].title}}</h3>
              <br />{{ability[0].case[0].descript}}
            </p>
            <div class="icon-container">
              <li>
                <i class="fas fa-street-view"></i>
                <div>{{ability[0].case[0].details[0]}}</div>
              </li>
              <li>
                <i class="fas fa-question-circle"></i>
                <div>{{ability[0].case[0].details[1]}}</div>
              </li>
              <li>
                <i class="fas fa-lightbulb"></i>
                <div>{{ability[0].case[0].details[2]}}</div>
              </li>
              <li>
                <i class="fas fa-flag"></i>
                <div>{{ability[0].case[0].details[3]}}</div>
              </li>
            </div>
            <img src="./img/case/case1/10.jpeg" alt="" class="abi-case-img" />
          </div>
        </div>
        <div class="row">
          <a
            href="https://wentungwen.github.io/wen_portfolio_2020/case-study"
            class="btn btn-text"
            >case study&nbsp; <i class="fas fa-arrow-right"></i
          ></a>
        </div>
      </section>
      <!-- coding -->
      <section class="section-coding_p u-margin-top-med" id="coding">
        <div class="row">
          <div class="col-1-of-3">
            <div class="abi-title__num u-text-white">{{ability[1].num}}</div>
            <h3 class="abi-title">{{ability[1].title}} <br><small>{{ability[1].sub}}</small></h3>
           
          </div>
          <div class="col-2-of-3">
            <p>
              <strong>{{ability[1].sub2}}</strong> <br />
              {{ability[1].descript}} <br>{{ability[1].descript2}}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-1-of-3" v-for="(n, idx) in works">
            <a :href="n.link" target="_blank" class="btn-text">
              <div
                class="story story-img composition__photo"
                :style="{background: n.img}"
              >
                <div class="story__text">
                  <!-- <h3 class="heading-tertiary">{{n.title}}</h3> -->
                  <p>{{n.descript}}<br /></p>
                </div></div
            ></a>
          </div>
        </div>
      </section>
      <!-- design -->

      <section class="section-design_p u-margin-top-med" id="design">
        <div class="row">
          <div class="col-1-of-3">
            <div class="abi-title__num">{{ability[2].num}}</div>
            <h3 class="abi-title">{{ability[2].title}}<br> <small>{{ability[2].sub}}</small></h3>
           
          </div>
          <div class="col-2-of-3">
            <p>
              <strong>{{ability[2].sub2}}</strong> <br />
              {{ability[2].descript}} <br>
              {{ability[2].descript2}}
            </p>
          </div>
        </div>

        <div class="container">
          <div
            v-for="(n, idx) in designs"
            class="panel"
            :style="{backgroundImage:n.img, backgroundSize:'cover'}"
          >
            <a :href="n.link" target="_blank">
              <h3>
                {{n.title}} &nbsp;
                <i class="fas fa-arrow-right"></i>
              </h3>
            </a>
          </div>
        </div>
      </section>

      <footer class="section-footer">
        <div class="row">
          <div class="col-1-of-3">
            <div class="header__logo-box">
              <img src="img/logo/favicon.png" alt="Logo" class="header__logo" />
            </div>
          </div>
          <div class="col-2-of-3">
            <a href="https://github.com/wentungwen" target="_blank">
              <i class="fab fa-github"> Github</i>
            </a>
            <a
              href="https://www.facebook.com/profile.php?id=100005047210869"
              target="_blank"
            >
              <i class="fab fa-facebook"> Facebook</i>
            </a>
            <a
              href="https://www.linkedin.com/in/wen-tung-wen-02ba10198/"
              target="_blank"
            >
              <i class="fab fa-linkedin"> Linkedin</i>
            </a>
            <a>
              <i class="fas fa-envelope"> wentungwen@gmail.com</i>
            </a>
          </div>
        </div>
      </footer>
      <input type="text" class="password" id="password" autocomplete="off" />
      <div class="row secret-row" id="secret-row"></div>
    </main>
  </body>

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- vue-loader -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>


  <!-- json -->
  <script type="text/javascript" src="js/data.js"></script>
  <!-- component -->
  <script type="text/javascript" src="js/component.js"></script>
  <!-- js -->
  <script type="text/javascript" src="js/script.js"></script>
  <script type="text/javascript" src="js/extra_page.js"></script>
  <script type="text/javascript" src="js/ajax.js"></script>
</html>
