.case-img {
  width: 100%;
  box-shadow: 0 0 3rem 1rem #00000024;
  border-radius: 100%;

  @include rwd(tab-port) {
    width: 10rem;
    box-shadow: 0 0 1rem 0.2rem #00000024;
  }
  &.active {
    position: absolute;
    width: 80vw;
    box-shadow: 1rem 1rem 2rem 0rem #0000007a;
  }
}

.case-container {
  font-family: "Montserrat";
  display: flex;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background: no-repeat center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  background-position: center center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba($color: #000000, $alpha: 0.5);
    z-index: -99;
  }
}

.slider-container {
  box-shadow: 0px 3px 1rem #000000;
  height: 70vh;
  width: 70vw;
  position: relative;

  overflow: hidden;

  & .slider {
    opacity: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    transition: 0.3s;

    &.active {
      opacity: 1;
    }
  }
}

.arrow {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  padding: 1rem;

  &.right-arrow {
    right: 3rem;
  }
  &.left-arrow {
    left: 3rem;
  }
}

.slider-button {
  &:hover {
    background-color: #00000080;
    transform: translateY(-60%);
    cursor: pointer;
    transition: 0.2s;
  }
  &:focus {
    outline: none;
    // border: none;
  }
}
.case-study {
  & .case-study2 {
    background-color: #444444d9;
    color: #fff;
    padding: 10rem 0;
    transform: skewY(6deg);
    margin: 10rem 0;

    & .case-study2-1 {
      transform: skewY(-6deg);
    }
  }
  & .case-study1 {
    background-color: #444444d9;
    color: #fff;
    padding: 23rem 0 10rem;
    margin: 10rem 0 -14rem;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 10%);
  }

  & .case-study3 {
    padding: 10rem 0 5rem;
  }
  & ul li {
    list-style: none;
    letter-spacing: 1px;
  }
  & h2 {
    color: $color-primary;
  }
  & p {
    margin: 1rem 0;
    letter-spacing: 1px;
  }
  & strong {
    color: $color-primary;
  }
}
.swiper-container {
  width: 900px;
  height: 600px;
  @include rwd(tab-land) {
    width: 100%;
    height: 350px;
  }

  @include rwd(tab-port) {
    width: 100%;
    height: 250px;
  }
  & .swiper-slide {
    transform: scale(0.9);
  }

  & .swiper-button-next,
  & .swiper-button-prev {
    color: $color-primary !important;
  }
}
