input.password {
  position: fixed;
  bottom: 0;
  right: 0;
  background: transparent;
  border: transparent;
  &:focus {
    outline: 0;
  }
}

.tkg-pic-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  & img.tkg-pic {
    width: calc((100% - 8rem) / 4);
    margin: 1rem;
    box-shadow: 0 0 0.2rem 0.2rem #00000045;
  }
}
