.u-center-text {
  text-align: center;
}

.u-margin-bottom-huge {
  margin-bottom: 15rem;
}
.u-margin-top-huge {
  margin-top: 15rem;
}
.u-margin-bottom-big {
  margin-bottom: 8rem;
}
.u-margin-top-big {
  margin-top: 8rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}
.u-margin-top-med {
  margin-top: 5rem;
}
.u-margin-bottom-med {
  margin-bottom: 5rem;
}

.divider {
  margin: 10rem auto;
  display: block;
  width: 5%;
  height: 5px;
  background: #eee;
}

.u-center-item {
  display: flex;
  justify-content: center;
}

.u-text-white {
  color: #000 !important;
}
