@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Roboto:wght@400;700&display=swap");

:root {
  --primary-light: rgb(39, 134, 243);
  --primary-dark: rgb(28, 94, 168);
}

@mixin font($a, $b, $c) {
  font-weight: $a;
  font-size: $b;
  color: $c;
}

%flexBasic {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  // overflow: hidden;
  margin: 0;
}
canvas {
  border-top: 0.2rem solid var(--primary-light);
  border-left: 0.2rem solid var(--primary-light);
  border-right: 0.2rem solid var(--primary-light);
  box-sizing: border-box;
}

.toolbox {
  width: calc(800px + 0.4rem);
  background: var(--primary-light);
  display: flex;

  & > *:last-child {
    margin-left: auto;
    // float: right;
  }

  & > * {
    border: 2px solid rgb(255, 255, 255);
    text-transform: uppercase;
    background-color: #fff;
    color: #000;
    width: 45px;
    height: 45px;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;

    &:hover {
      transform: scale(1.05);
      transition: 0.2s;
      cursor: pointer;
    }

    &:focus,
    &:active {
      outline: 0;
    }
  }
}
