@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Roboto:wght@400;700&display=swap");

:root {
  --primary-light: rgb(163, 235, 245);
  --primary-dark: rgb(73, 139, 34);
}

@mixin font($a, $b, $c) {
  font-weight: $a;
  font-size: $b;
  color: $c;
}

%flexBasic {
  display: flex;
  justify-content: center;
  align-items: center;
}
%buttonText {
  border: none;
  padding: 8px 12px;
  letter-spacing: 1px;
  background-color: var(--primary-dark);
  width: 12rem;
  margin: 0.5rem 0;
  text-align: left;
  @include font(300, 1.1rem, #fff);
  text-align: center;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
  }
  &:focus,
  &:active {
    outline: 0;
  }
}

* {
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  height: 100vh;
  margin: 0;
  background-color: var(--primary-light);
  flex-wrap: wrap;
  display: flex;
}
.add {
  @extend %buttonText;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.note {
  width: 250px;
  height: 300px;

  margin: 1rem;

  & .tools {
    background-color: var(--primary-dark);
    height: 30px;
    display: flex;
    align-items: center;

    & button {
      color: #fff;
      border: 0;
      background-color: transparent;

      &:focus,
      &:active {
        outline: none;
        border: none;
      }

      &:hover {
        transform: scale(1.02);
      }
    }
  }
  & textarea {
    resize: none;
    border: 0;
    width: 100%;
    height: 350px;
    background: #fff;
    box-shadow: 0 0 0.1rem 0.1rem #00020014;
    padding: 1rem;

    &:active,
    &:focus {
      outline: none;
      border: 0;
    }
  }
}
i:hover {
  transform: translateY(-1px) scale(1.1);
  cursor: pointer;
}
.hidden {
  display: none;
}

.main {
  width: 100%;
  height: 250px;
  background: #fff;
  box-shadow: 0 0 0.1rem 0.1rem #00020014;
  padding: 1rem;
  overflow: hidden;
}

footer {
  width: 100%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.699);
  position: absolute;
  bottom: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0.6rem;
  letter-spacing: 2px;
}
