@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Roboto:wght@400;700&display=swap");
:root {
  --primary-light: rgb(233, 243, 255);
  --primary-dark: rgb(46, 52, 59);
}

.popup-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-container button {
  border: none;
  padding: 8px 10px;
  letter-spacing: 1px;
  background-color: var(--primary-dark);
  width: 12rem;
  margin: 0.5rem 0;
  text-align: left;
  font-weight: 300;
  font-size: 0.8rem;
  color: var(--primary-light);
  text-align: center;
}

.popup-container button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.popup-container button:focus, .popup-container button:active {
  outline: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: var(--primary-dark);
  color: var(--primary-light);
}

svg line,
svg circle {
  stroke: var(--primary-light);
  stroke-width: 2px;
  fill: #ccc;
}

.word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0;
}

.word .letter {
  width: 1rem;
  font-weight: 800;
  font-size: 1.5rem;
  color: var(--primary-light);
  margin: 0 0.3rem;
  border-bottom: 1px var(--primary-light) solid;
}

.wrong-letters-container {
  display: block;
  text-align: center;
  height: 7rem;
}

.wrong-letters-container p,
.wrong-letters-container span {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  padding: 0.2rem 0.3rem;
  border-radius: 5px;
}

.wrong-letters-container p {
  font-weight: 500;
  font-size: 1.2rem;
  color: --primary-dark;
}

.popup-container {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #00000080;
}

.popup-container .popup {
  -webkit-box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.287);
          box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.287);
  background: var(--primary-light);
  padding: 1.5rem;
  color: var(--primary-dark);
  text-align: center;
}

.popup-container .popup div {
  font-weight: 500;
  font-size: 1.2rem;
  color: --pvar(--primary-dark);
  margin: 1rem 0;
}

.notification-container {
  display: none;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  height: 5rem;
  width: 70%;
  color: var(--primary-dark);
  text-align: center;
  border-radius: 10px;
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
}

.figure-part {
  display: none;
}
/*# sourceMappingURL=style.css.map */